# System files
.DS_Store
*.log

# Dependencies
node_modules/
*/node_modules/

# Build artifacts
dist/
build/
cache/
artifacts/

# Environment variables
.env
.env.local

# milionaire/VERIFICATION_GUIDE.md
milionaire/VERIFICATION_GUIDE.md
# IDE
.vscode/
.idea/

# Project specific
coti-snap
coti-sandbox
hardhat_deploy
.devcontainer
artifacts-pod
cache-pod
